<h1>Diary</h1>


<div class="diary-entry-form">
  <h2>Create Diary Entry</h2>
  <button id="generatePrompt" class="button is-warning">Generate Prompt</button>
  <div class="promptArea"></div>
  <form action="/api/diary" method="POST">

    <p><input type="text"class="input is-primary" name="title" placeholder="Title" required>
</p>
    <textarea name="content" class="textarea is-primary" placeholder="Content" rows="10"required></textarea>
    <button type="submit" class="button is-success" >Save Entry</button>
     
  </form>
</div>

<div class="diary-entries">
  <h2>Previous Diary Entries</h2>

  {{#each diaryEntries}}
  {{> diaryCard this}}
  {{/each}}
  </form>
</div>
<script src="/js/prompt.js"></script>

